@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 7%;
    --muted: 210 11% 50%;
    --primary: 0 92% 62%;
    --accent: 46 62% 50%;
    --border: var(--muted);
    --primary-dark: 0 92% 15%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    /* --accent: 46 62% 50%; */
  }
  body {
    color: hsl(var(--foreground));
  }
  img {
    @apply block max-w-full w-full h-auto;
  }
  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        @apply mt-16;
      }
      & + * {
        @apply mt-8;
      }
    }
    p {
      & + * {
        @apply mt-6;
      }
    }
  }
}

@layer components {
  .bg-glass {
    /* --background: 0 0% 7%; */
    --tw-bg-opacity: 0.05;
    background-color: hsla(var(--background) / var(--tw-bg-opacity));
    @apply backdrop-blur-md;
    .dark & {
      --background: 0 0% 0%;
      --tw-bg-opacity: 0.2;
    }
  }
}

@layer utilities {
  .container-inline-size {
    container-type: inline-size;
  }
  .fade-in {
    @apply starting:opacity-0 transition-opacity duration-500;
  }
  .marquee {
    --speed: 20s;
    --item-gap: 0.5rem;
    --single-slide-speed: calc(var(--speed) / var(--num-items));
    --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
    --track-width: calc(
      var(--item-width-plus-gap) * calc(var(--num-items) - 1)
    );

    @apply overflow-hidden;
  }
  .track {
    @apply container-inline-size w-max;
    display: grid;
    grid-template-columns: var(--track-width) [track] 0px [resting];
  }
  .track-item {
    grid-area: resting;
    width: var(--item-width);

    @apply animate-marquee;
    animation-delay: calc(
      var(--single-slide-speed) * var(--item-position) * -1
    );
  }
  .track-item-content {
    @apply w-full h-10 md:h-12 px-4 md:px-8;

    animation-delay: calc(
      var(--single-slide-speed) * var(--item-position) * -1
    );

    /* & > * {
      @apply block w-full h-full;
    } */
  }
  .fadeout-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      black var(--fade-size, 15%),
      black calc(100% - var(--fade-size, 15%)),
      transparent
    );
  }
}
