---
import Heading from "~/components/Heading.astro";
import Layout from "./_layout.astro";
---

<Layout>
  <main class="grow grid place-items-center">
    <Heading as="h1">Under Construction</Heading>
  </main>
</Layout>
