---
import Layout from "./_layout.astro";
import { getIndex } from "../utils/sanity";
import Heading from "~/components/Heading.astro";
// import PortableText from "~/components/PortableText/PortableText.astro";

const data = await getIndex({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});

if (!data) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout>
  <div class="w-full md:pt-4 bg-black/10 pb-24 md:h-[768px] relative">
    <div
      class="flex flex-col w-full md:h-full relative md:w-[calc(100%-2rem)] lg:max-w-7xl mx-auto"
    >
      <!-- Shadow stack -->
      <div class="absolute top-full w-full">
        <div class="z-10 absolute top-auto -bottom-[60px] w-full">
          <div class="bg-black/5 backdrop-blur-lg h-24 rounded-lg mx-20"></div>
        </div>
        <div class="z-10 absolute inset-0 top-auto -bottom-[48px] w-full">
          <div class="bg-black/20 backdrop-blur-lg h-24 rounded-lg mx-16"></div>
        </div>
        <div class="z-10 absolute inset-0 top-auto -bottom-[36px] w-full">
          <div class="bg-black/40 backdrop-blur-lg h-24 rounded-lg mx-12"></div>
        </div>
        <div class="z-10 absolute inset-0 top-auto -bottom-[24px] w-full">
          <div class="bg-black/50 backdrop-blur-lg h-24 rounded-lg mx-8"></div>
        </div>
        <div class="z-10 absolute inset-0 top-auto -bottom-[12px] w-full">
          <div class="bg-black/50 backdrop-blur-lg h-24 rounded-lg mx-4"></div>
        </div>
      </div>
      <!-- Content Wrapper -->
      <div
        class="z-20 bg-black rounded-b-lg md:rounded-t-lg w-full h-full min-h-[540px] sm:min-h-96 p-6 pt-[10vw] sm:p-16 grid sm:items-center"
      >
        <!-- Text Content -->
        <div
          class="w-full min-[480px]:w-4/5 min-[580px]:w-1/2 self-start sm:self-auto"
        >
          <div class="uppercase text-primary text-sm mb-2">
            Full-Stack Web Development
          </div>
          <Heading level={1} className="md:max-w-full mb-6 text-5xl lg:text-6xl"
            >Bring your ideas to life.</Heading
          >
          <p class="text-background text-xl md:text-2xl">
            Helping today's visionaries <em>(psst—that's you)</em> build a better
            tomorrow by turning ideas into online interactive experiences.
          </p>
        </div>
        <!-- Logo Marquee -->
        <div
          class="my-10 text-3xl -ml-8 md:-ml-16 opacity-30 w-[calc(100%+4rem)] overflow-hidden"
        >
          <div class="flex flex-col space-y-4">
            <div class="flex space-x-4">
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
            </div>
            <div class="flex space-x-4">
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
              <div class="text-white">Logo</div>
            </div>
          </div>
        </div>
      </div>
      <img
        src="/me.png"
        alt="Me"
        class="absolute z-30 -bottom-24 md:bottom-0 -right-4 md:right-0 md:rounded-br-lg object-cover max-w-80 max-h-[400px] min-[580px]:max-w-full min-[580px]:h-[600px] min-[580px]:max-h-[700px] w-auto max-md:sm:h-[660px] md:h-[700px] lg:w-[700px] min-[480px]:w-2/3 aspect-square pointer-events-none dark:brightness-75 contrast-[1.1]"
      />
      <!-- <PortableText blocks={data.body} /> -->
    </div>
  </div>
</Layout>
