---
import Layout from "./_layout.astro";
import { getIndex } from "../utils/sanity";
import Heading from "~/components/Heading.astro";
import PortableText from "~/components/PortableText/PortableText.astro";

const data = await getIndex({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});

if (!data) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout>
  <main class="grow grid place-items-center bg-foreground dark:bg-black">
    <div class="max-w-3xl text-center">
      <Heading as="h1" className="text-center"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit.</Heading
      >
      <Heading className="mt-6"
        >Temporibus voluptate, rerum laborum nulla nemo saepe nisi tempora ad
        explicabo at dignissimos optio velit dolor natus quas.</Heading
      >
    </div>
  </main>
</Layout>
