---
import Layout from "./_layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});
---

<Layout>
  <ul>
    {
      posts ? (
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug.current}`}>{post.title}</a>
          </li>
        ))
      ) : (
        <p>No posts yet.</p>
      )
    }
  </ul>
</Layout>
