---
import Layout from "./_layout.astro";
import { getIndex } from "../utils/sanity";
import { Overline } from "~/components/Overline";
import { Heading } from "~/components/Heading";
import { Container } from "~/components/Container";
import BrowserWindow from "~/components/BrowserWindow";

import Blocks from "~/components/Blocks.astro";
import { BackgroundRadialGradient } from "~/components/BackgroundRadialGradient";
import { getRadialGradient } from "~/utils/getRadialGradient";

const data = await getIndex({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});

// TODO: Come up with a better solution of handling a missing homepage.
//       Either show a blog index or show a default homepage.
if (!data) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout seo={data.seo}>
  {data.blocks && <Blocks blocks={data.blocks} />}

  <!-- Contact Form -->
  <div class="bg-[linear-gradient(to_bottom,transparent_20%,#4f46e5_20%)]">
    <Container padding={true} className="!pt-0">
      <BrowserWindow client:visible stackPosition="top">
        <BackgroundRadialGradient
          style={{
            backgroundImage: `${getRadialGradient("#c7d2fe", "rgba(0,0,0,.8)", "hsla(0 0% 0% / .9)", "60% 90%", ["0%", "50%", "90%"])}, ${getRadialGradient("hsla(0 0% 0% / 0)", "#c7d2fe", "#4338ca", "0% 100%", ["0%", "30%", "90%"])}`,
          }}
        />
        <Container
          variant="tight"
          className="py-16 sm:pb-0 grid lg:grid-cols-2 gap-8"
        >
          <div>
            <Overline>Get in touch</Overline>
            <Heading className="mb-6 text-background">
              Ready to turn your vision into reality?</Heading
            >
            <p class="text-lg text-background dark:text-foreground">
              Whether you're exploring new opportunities, need a development
              partner, or just have a quick question, my inbox is always open.
            </p>
          </div>
          <!-- Contact Form -->
          <div class="grid gap-4 items-start">
            <div class="grid sm:grid-cols-2 gap-4">
              <input
                type="text"
                placeholder="First name"
                class="w-full placeholder:text-background/50 p-4 bg-glass text-background rounded-lg border-white/5 border"
              />
              <input
                type="text"
                placeholder="Last name"
                class="w-full placeholder:text-background/50 p-4 bg-glass text-white rounded-lg border border-white/5"
              />
            </div>
            <input
              type="text"
              placeholder="Email"
              class="w-full placeholder:text-background/50 p-4 bg-glass text-white rounded-lg border border-white/5"
            />
            <textarea
              placeholder="Message"
              class="w-full placeholder:text-background/50 p-4 bg-glass text-white rounded-lg border border-white/5"
              rows="5"></textarea>
            <button
              class="py-3 px-6 bg-primary text-background rounded-lg justify-self-start min-w-40"
              >Send</button
            >
          </div>
        </Container>
      </BrowserWindow>
    </Container>
  </div>
</Layout>
