---
import { Code as CodeComponent } from 'astro:components';
import type { Code } from '~/types/code';

export interface Props extends Code {}

const { code, language, highlightedLines } = Astro.props;
---

<div
  class="not-prose rounded-lg bg-zinc-950 p-1 text-sm scheme-dark in-data-stack:rounded-none dark:inset-ring dark:inset-ring-white/10 in-data-stack:dark:inset-ring-0"
>
  <div class="px-3 pt-0.5 pb-1.5 text-xs/5 text-zinc-400 dark:text-white/50">
    {language}
  </div>
  <div
    class="*:flex *:*:max-w-none *:*:shrink-0 *:*:grow *:overflow-auto *:rounded-md *:bg-white/10! *:p-5 *:inset-ring *:inset-ring-white/10 dark:*:bg-white/5! dark:*:inset-ring-white/5 **:[.line]:isolate"
  >
    <CodeComponent code={code} lang={language} theme="dark-plus" />
  </div>
</div>
