---
import { cva } from "class-variance-authority";
import { cn } from "~/utils/misc";

const { className, variant } = Astro.props;

const variants = cva("mx-auto py-16  xs:py-32", {
  variants: {
    variant: {
      default: "max-w-7xl px-4",
      small: "max-w-5xl p-16 xs:px-16",
    },
  },
  defaultVariants: {
    variant: "default",
  },
});
---

<div class={cn(variants({ variant }), className)}>
  <slot />
</div>
