---
import type { Theme } from '~/utils/theme';
import { ThemeToggle } from './ThemeToggle';
import Logo from './Logo.astro';
import { Container } from './Container';

interface Props {
  theme: Theme | undefined;
}

const { theme } = Astro.props;
---

<header class="">
  <Container className="flex items-center justify-between">
    <nav>
      <a
        href="/"
        class="flex py-2 transition duration-500 starting:-translate-y-2 starting:opacity-0"
        title="Go to homepage"
      >
        <Logo />
      </a>
    </nav>
    <ThemeToggle client:only="react" initial={theme} />
  </Container>
</header>
