---
import type { Theme } from "~/utils/theme";
import { ThemeToggle } from "./ThemeToggle";

interface Props {
  theme: Theme;
}

const { theme } = Astro.props;
---

<header class="flex items-center justify-between">
  <nav class="flex items-center justify-center py-4 space-x-6">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
  <ThemeToggle client:only="react" theme={theme} />
</header>
