---
import type { Theme } from "~/utils/theme";
import { ThemeToggle } from "./ThemeToggle";
import Logo from "./Logo.astro";

interface Props {
  theme: Theme | undefined;
}

const { theme } = Astro.props;
---

<header class="px-4">
  <div class="container mx-auto flex items-center justify-between">
    <nav>
      <a
        href="/"
        class="flex py-2 starting:opacity-0 starting:-translate-y-2 transition duration-500"
        title="Go to homepage"
      >
        <Logo />
      </a>
    </nav>
    <ThemeToggle client:only="react" initial={theme} />
  </div>
</header>
