---
import { cn } from '~/utils/misc';

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div class={cn('bg-background dark:bg-black md:min-h-[600px]', className)}>
  <slot />
</div>
