---
import Container from "./Container.astro";
---

<div
  class="md:min-h-[600px] grid place-items-center bg-background dark:bg-black"
>
  <Container className="py-14 lg:py-0 flex flex-col items-center max-w-3xl">
    <slot />
  </Container>
</div>
