---
import { cn } from "~/utils/misc";

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div class={cn("md:min-h-[600px] bg-background dark:bg-black", className)}>
  <slot />
</div>
